.email-list__empty {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.email-list__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-height: 100vh;
  width: 100%;
  overflow: auto;
  padding-bottom: 300px;
  flex-grow: 1;
}

.hide-on-select {
  display: none;
}

.email-list__container::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* For Firefox */
.email-list__container {
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.email-list__placeholder {
  height: 400px;
  width: 50px;
  background-color: red;
}

@media (min-width: 768px) {
  .hide-on-select {
    display: flex;
  }
}
