.navbar {
  color: black;
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
}

.navbar__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.navbar__label {
  padding: 4px 10px;
  border: 2px solid transparent;
  margin-right: 30px;
}

.navbar__list-item {
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid transparent;
  text-transform: capitalize;
  padding: 4px 10px;
}

.navbar__list-item--active {
  cursor: pointer;
  color: var(--text);
  text-transform: capitalize;
  padding: 4px 10px;
  border-radius: 15px;
  border: 2px solid var(--border);
  background-color: var(--filter-button);
}
