.email__container {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  border: 2px solid var(--border);
  border-radius: 15px;
  padding: 30px;
  flex: 2;
  height: 85vh;
}

/* Slide-in animation */

/* Add slide-in effect */
.slide-in {
  animation: slideIn 0.25s forwards;
}

/* Slide-out effect */
.slide-out {
  animation: slideOut 0.25s forwards;
}

.email__header-outercontainer {
  min-width: 100%;
  max-width: 100%;
}

.email__header-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.email__header-subject {
  font-size: 1.7rem;
  font-weight: 700;
}

.email__header-date {
  margin-top: 20px;
}

.email__place-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.email__content {
  margin-top: 30px;
  height: 30vh;
  overflow: auto;
}

.email__content::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* For Firefox */
.email__content {
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.email__content p:not(:first-of-type) {
  margin-top: 30px;
}

.email__profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email__back-button {
  color: var(--accent);
  font-size: 1.2rem;
  user-select: none;
}

.email__favorite-button {
  background-color: var(--accent);
  padding: 4px 10px;
  max-height: 30px;
  color: white;
  border-radius: 15px;
  border: 2px solid var(--accent);
  cursor: pointer;
  user-select: none;
}

/* .email__favorite-button:hover { */
/*   background-color: white; */
/*   border: 2px solid var(--accent); */
/*   color: var(--accent); */
/* } */

.email__favorite-button:active {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

@media (min-width: 768px) {
  .email__container {
    flex-direction: row;
    padding-right: 60px;
  }

  .email__content {
    height: 65vh;
  }

  .email__header-outercontainer {
    min-width: 90%;
    max-width: 90%;
  }

  .email__header-container {
    flex-direction: row;
  }

  .email__back-button {
    display: none;
  }

  .email__profile-container {
    display: block;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
      min-width: 60%;
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
      min-width: 60%;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
      max-width: 0%;
      padding: 0px;
      display: none;
    }
  }
}
